@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema GMLWeb</h1>
    <p class="lead">Gestión de Mantenimiento de Equipo de Local</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Programar Mantenimiento Correctivo</h2>
        <p>
            El caso de uso comienza cuando el Supervisor de Mantenimiento ejecuta el evento Programar Mantenimiento Correctivo. El caso de uso termina con la Programación de la Solicitud de Mantenimiento Correctivo.
        </p>
        <p><a class="btn btn-default" href="Programaciones/Index">Programar Mantenimiento Correctivo &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Plan de Mantenimiento Preventivo</h2>
        <p>
            Este caso de uso inicia cuando el Supervisor de Mantenimiento selecciona la opción de Planificar Mantenimiento Preventivo y finaliza con la generación del plan de mantenimiento preventivo y las ordenes de servicio.
        </p>
        <p><a class="btn btn-default" href="Planificaciones/Index">Planificar Mantenimiento Preventivo &raquo;</a></p>
    </div>
</div>